#chungus{
    color:rgba(96, 58, 60, 0.46);
    background: #040060;
    padding: 20px 10px 30px 50px;
    border: 50px solid rgb(255, 153, 159);
    font: 100px serif;
    font-weight: bold;
    display: inline;
}